.SmallMultipleConnected {
  min-height: 600px;
  .small-multiple {
    // min-width: 360px;
    float: left;
  }
  .region {
    margin-bottom: 25px;
    padding-top: 15px;
    border-bottom: 2px solid #888;
  }
}
